.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 134px);
}

.quiz-card {
  width: 600px;
  margin-bottom: 16px;
}

.timer {
  margin: 16px 0;
}

.header {
  color: #fff !important;
  text-align: center;
  padding: 16px;
  background-color: #001529;
}

.footer {
  text-align: center;
  background-color: #001529;
  color: #fff;
  padding: 10px;
}
